.CurrentList{
    width: 40%;
    margin:auto;
}
.CurrentList>button{
    width: 100%;
}
a{
    text-decoration: none;
}
.CurrentList>table>tbody>tr>.indent {
    padding-left: 2.5em;
}
.CurrentList>table>tbody>tr>.smallWidth {
    width: 5%;
}
.CurrentList>table>tbody>tr>.right {
    text-align: right;
}.CurrentList>table>tbody>tr>.left {
    text-align: left;
}