#buttons{
    width: 20%;
}
#dropdownMenuButton{
    width:100%;
}
#controls{
    display: flex;
    flex-wrap: wrap;
}
#priceInput{
    width: 50;
}
#currencySpan{
    transform: translateX(-20px);
    height:90%;
}
#buttonsBulk
{
    transform: translateX(-12px);
}